- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
import pandas as pd

In [4]:
df =pd.read_excel('Australia.xlsx')
print(df)

             Unnamed: 0 Unnamed: 1     Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0                   NaN        NaN            NaN         NaN        NaN
1                   NaN        NaN            NaN         NaN        NaN
2                   NaN        NaN            NaN         NaN        NaN
3        United Nations        NaN            NaN         NaN        NaN
4   Population Division        NaN            NaN         NaN        NaN
..                  ...        ...            ...         ...        ...
71           Immigrants       Both        Oceania   Melanesia       7390
72           Immigrants       Both        Oceania  Micronesia        120
73           Immigrants       Both        Oceania   Polynesia        370
74           Immigrants       Both  Oceania Total         NaN      42530
75           Immigrants       Both        Unknown     Unknown       4060

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 28  \
0         NaN        NaN        NaN        NaN        NaN  ...         NaN
1         NaN        NaN        NaN        NaN        NaN  ...         NaN
2         NaN        NaN        NaN        NaN        NaN  ...         NaN
3         NaN        NaN        NaN        NaN        NaN  ...         NaN
4         NaN        NaN        NaN        NaN        NaN  ...         NaN
..        ...        ...        ...        ...        ...  ...         ...
71       8030       8090       7020       6790       6790  ...      5910.0
72        140        110        100        120        100  ...       400.0
73        530        580        440        550        600  ...      1080.0
74      43320      32870      21330      24480      34710  ...     48690.0
75       4440       4010       3220       3970       4610  ...      1650.0

   Unnamed: 29 Unnamed: 30 Unnamed: 31 Unnamed: 32 Unnamed: 33 Unnamed: 34  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
..         ...         ...         ...         ...         ...         ...
71      5610.0      7230.0      5910.0      6990.0          ..          ..
72       320.0       290.0       260.0       450.0          ..          ..
73       940.0      1120.0      1040.0      1450.0          ..          ..
74     52250.0     54330.0     46550.0     56630.0          ..          ..
75      1800.0      2320.0     18310.0      4970.0          ..          ..

   Unnamed: 35  Unnamed: 36  Unnamed: 37
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN
..         ...          ...          ...
71          ..           ..          NaN
72          ..           ..          NaN
73          ..           ..          NaN
74          ..           ..          NaN
75          ..           ..          NaN

[76 rows x 38 columns]