|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
%pwd

'D:\\Training\\dsc_weekend_202006\\Assignments\\gaurav'

In [2]:
import pandas as pd

In [20]:
df = pd.read_csv('titanic_dataset.csv')

In [4]:
print(df.head())

   Unnamed: 0  pclass  survived  \
0           0       1         1
1           1       1         1
2           2       1         0
3           3       1         0
4           4       1         0

                                              name  gender      age  sibsp  \
0                    Allen, Miss. Elisabeth Walton  female  29.0000      0
1                   Allison, Master. Hudson Trevor    male   0.9167      1
2                     Allison, Miss. Helen Loraine  female   2.0000      1
3             Allison, Mr. Hudson Joshua Creighton    male  30.0000      1
4  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000      1

   parch  ticket      fare    cabin embarked boat   body  \
0      0   24160  $211.34        B5        S    2    NaN
1      2  113781  $151.55   C22 C26        S   11    NaN
2      2  113781  $151.55   C22 C26        S  NaN    NaN
3      2  113781  $151.55   C22 C26        S  NaN  135.0
4      2  113781  $151.55   C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [8]:
# Read data and describe it
df.describe(include='all')

,Unnamed: 0,pclass,survived,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308,295,1307,486,121.000000,745
unique,NaN,NaN,NaN,1307,2,NaN,NaN,NaN,929,263,186,3,27,NaN,369
top,NaN,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,CA. 2343,$8.05,C23 C25 C27,S,13,NaN,"New York, NY"
freq,NaN,NaN,NaN,2,843,NaN,NaN,NaN,11,60,6,914,39,NaN,64
mean,654.000000,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,NaN,NaN,NaN,NaN,160.809917,NaN
std,378.020061,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,NaN,NaN,NaN,NaN,97.696922,NaN
min,0.000000,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
25%,327.000000,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,72.000000,NaN
50%,654.000000,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,155.000000,NaN
75%,981.000000,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,256.000000,NaN
max,1308.000000,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,NaN,NaN,NaN,NaN,328.000000,NaN

In [21]:
# Find columns with missingdata
print(df.isna().sum())
print()
print(df.isna().any(axis=0))
print((~df.isna()).sum())

Unnamed: 0       0
pclass           0
survived         0
name             0
gender           0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

Unnamed: 0    False
pclass        False
survived      False
name          False
gender        False
age            True
sibsp         False
parch         False
ticket        False
fare           True
cabin          True
embarked       True
boat           True
body           True
home.dest      True
dtype: bool
Unnamed: 0    1309
pclass        1309
survived      1309
name          1309
gender        1309
age           1046
sibsp         1309
parch         1309
ticket        1309
fare          1308
cabin          295
embarked      1307
boat           486
body           121
home.dest      745
dtype: int64

In [13]:
# Print shape of dataset
print(df.shape)

(1309, 15)

In [22]:
1309*0.75

981.75

In [23]:
# drop columns with more than 25% missing data
t = df.dropna(thresh=(1309*0.75), axis=1)
print(t.isna().sum())

Unnamed: 0      0
pclass          0
survived        0
name            0
gender          0
age           263
sibsp           0
parch           0
ticket          0
fare            1
embarked        2
dtype: int64

In [26]:
df.dropna(thresh=(df.shape[0]*0.75), axis=1, inplace=True)
print(df.isna().sum())

Unnamed: 0      0
pclass          0
survived        0
name            0
gender          0
age           263
sibsp           0
parch           0
ticket          0
fare            1
embarked        2
dtype: int64

In [30]:
# drop columns having independent values(which do not affect the survival rate).
df.drop(columns=["Unnamed: 0", "name"], inplace = True)
print(df.head())

KeyError: "['Unnamed: 0' 'name'] not found in axis"

In [31]:
# check data types of all columns
print(df.dtypes)

pclass        int64
survived      int64
gender       object
age         float64
sibsp         int64
parch         int64
ticket       object
fare         object
embarked     object
dtype: object

In [37]:
# convert fare to numeric
fare=df.fare.str.replace('$','')
df.fare = fare.astype('float64')
print(df.fare.dtype)

# df.fare.replace(r'\$', '', regex=True)

float64

In [43]:
# find columns still having missing/na values and also count of missing data
print(df.isna().any(axis=0))
print()
print(df.isna().sum())

pclass      False
survived    False
gender      False
age          True
sibsp       False
parch       False
ticket      False
fare         True
embarked     True
dtype: bool

pclass        0
survived      0
gender        0
age         263
sibsp         0
parch         0
ticket        0
fare          1
embarked      2
dtype: int64

In [49]:
# fill na with mean for fare and age column column.
df.fare = df.fare.fillna(df.fare.mean())
df.age = df.age.fillna(df.age.mean())
df.fare.isna().sum()

0

In [46]:
print(df.dtypes)

pclass        int64
survived      int64
gender       object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
embarked     object
dtype: object

In [50]:
print(df.isna().any())

pclass      False
survived    False
gender      False
age         False
sibsp       False
parch       False
ticket      False
fare        False
embarked     True
dtype: bool

In [63]:
import numpy as np
r = np.where(df.embarked.isna())
print(r)
print(type(r))
print(type(r[0]))
print(r[0])

(array([168, 284], dtype=int64),)
<class 'tuple'>
<class 'numpy.ndarray'>
[168 284]

In [73]:
# drop rows where embarked has na values.
r = np.where(df.embarked.isna())
df.drop(index=r[0], inplace=True)
df.embarked.isna().any()

False

In [69]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.
df.to_csv('titanic_filtered.csv')

In [89]:
# for surviced column replace 0 with D and 1 with A
df.survived = df.survived.replace({0:'D',1:'A'})
print(df.survived)

0       A
1       A
2       D
3       D
4       D
       ..
1304    D
1305    D
1306    D
1307    D
1308    D
Name: survived, Length: 1307, dtype: object

In [90]:
# find the frequency of different values in survived column
print(df.survived.unique())
print(df.survived.value_counts())

['A' 'D']
D    809
A    498
Name: survived, dtype: int64

In [104]:
# group by gender and survived and see the counts in each category
grp = df.groupby(by=["gender"])
print(grp)
print(grp.groups)
print(grp.age.count())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021337741CC8>
{'female': Int64Index([   0,    2,    4,    6,    8,   11,   12,   13,   17,   18,
            ...
            1265, 1267, 1273, 1276, 1279, 1286, 1290, 1300, 1304, 1305],
           dtype='int64', length=464), 'male': Int64Index([   1,    3,    5,    7,    9,   10,   14,   15,   16,   19,
            ...
            1296, 1297, 1298, 1299, 1301, 1302, 1303, 1306, 1307, 1308],
           dtype='int64', length=843)}
gender
female    464
male      843
Name: age, dtype: int64

In [149]:
# group by gender and survived and see the counts in each category
grp = df.groupby(by=["gender","survived"])
print(grp.groups)

print(grp.count().pclass == grp.count().pclass.max())
print()
print(np.where(grp.count().pclass == grp.count().pclass.max()))

# find position of max count
print(grp.count().pclass == grp.count().pclass.max())

{('female', 'A'): Int64Index([   0,    6,    8,   11,   12,   13,   17,   18,   21,   23,
            ...
            1223, 1244, 1247, 1257, 1258, 1260, 1261, 1286, 1290, 1300],
           dtype='int64', length=337), ('female', 'D'): Int64Index([   2,    4,  105,  169,  286,  365,  369,  381,  382,  411,
            ...
            1227, 1230, 1231, 1265, 1267, 1273, 1276, 1279, 1304, 1305],
           dtype='int64', length=127), ('male', 'A'): Int64Index([   1,    5,   14,   20,   22,   26,   29,   31,   37,   47,
            ...
            1196, 1228, 1232, 1233, 1236, 1238, 1240, 1254, 1256, 1277],
           dtype='int64', length=161), ('male', 'D'): Int64Index([   3,    7,    9,   10,   15,   16,   19,   25,   30,   34,
            ...
            1296, 1297, 1298, 1299, 1301, 1302, 1303, 1306, 1307, 1308],
           dtype='int64', length=682)}
gender  survived
female  A           False
        D           False
male    A           False
        D            True
Name: pclass, dtype: bool

(array([3], dtype=int64),)

In [100]:
df_f_A = grp.get_group( ('female','A') )
print(df_f_A.head())

    pclass survived  gender   age  sibsp  parch    ticket    fare embarked
0        1        A  female  29.0      0      0     24160  211.34        S
6        1        A  female  63.0      1      0     13502   77.96        S
8        1        A  female  53.0      2      0     11769   51.48        S
11       1        A  female  18.0      1      0  PC 17757  227.53        C
12       1        A  female  24.0      0      0  PC 17477   69.30        C

In [105]:
# get number
(df_f_A.embarked).value_counts()

S    198
C    102
Q     37
Name: embarked, dtype: int64

In [106]:
# get number
(df_f_A.embarked == 'S').value_counts()

True     198
False    139
Name: embarked, dtype: int64

In [ ]:
# find different pclass and no of people in each class

In [113]:
# find top 5 people with highest values of age. Count no of male and females in the top 5
r = df.sort_values(by=["age"], ascending = False).head()
print(r)
print()
print(r.gender.value_counts())

print()
print(df.nlargest(5, columns=["age"])) # optimized

      pclass survived  gender   age  sibsp  parch    ticket   fare embarked
14         1        A    male  80.0      0      0     27042  30.00        S
61         1        A  female  76.0      1      0     19877  78.85        S
1235       3        D    male  74.0      0      0    347060   7.78        S
135        1        D    male  71.0      0      0  PC 17754  34.65        C
9          1        D    male  71.0      0      0  PC 17609  49.50        C

male      4
female    1
Name: gender, dtype: int64

      pclass survived  gender   age  sibsp  parch    ticket   fare embarked
14         1        A    male  80.0      0      0     27042  30.00        S
61         1        A  female  76.0      1      0     19877  78.85        S
1235       3        D    male  74.0      0      0    347060   7.78        S
9          1        D    male  71.0      0      0  PC 17609  49.50        C
135        1        D    male  71.0      0      0  PC 17754  34.65        C

In [121]:
# find max age male and female who survived
df_sur = df[df.survived == 'A']
print(df_sur.head())

print()
print(df_sur.groupby(by='gender').age.max())

print()
print("Using loop")
for gen in df_sur.gender.unique():
    print(gen,  df_sur[df_sur.gender == gen].age.max())

   pclass survived  gender      age  sibsp  parch  ticket    fare embarked
0       1        A  female  29.0000      0      0   24160  211.34        S
1       1        A    male   0.9167      1      2  113781  151.55        S
5       1        A    male  48.0000      0      0   19952   26.55        S
6       1        A  female  63.0000      1      0   13502   77.96        S
8       1        A  female  53.0000      2      0   11769   51.48        S

gender
female    76.0
male      80.0
Name: age, dtype: float64

Using loop
female 76.0
male 80.0

In [128]:
# get average age by gender
grp2=df.groupby(by=['gender'])
print(grp2.age.mean())


print()
print(df.groupby(by=['gender']).age.mean())

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

In [141]:
s =  r"""ab\t"""
print(s)

ab\t

In [136]:
# get average age by people survived vs not-survived

In [ ]:
df.join()

In [ ]:
pd.merge(df1, df2)

In [143]:
print(df.T.head())

            0       1       2     3       4     5       6     7       8     \
pclass         1       1       1     1       1     1       1     1       1
survived       A       A       D     D       D     A       A     D       A
gender    female    male  female  male  female  male  female  male  female
age           29  0.9167       2    30      25    48      63    39      53
sibsp          0       1       1     1       1     0       1     0       2

          9     ...  1299    1300  1301     1302     1303    1304     1305  \
pclass       1  ...     3       3     3        3        3       3        3
survived     D  ...     D       A     D        D        D       D        D
gender    male  ...  male  female  male     male     male  female   female
age         71  ...    27      15  45.5  29.8811  29.8811    14.5  29.8811
sibsp        0  ...     1       1     0        0        0       1        1

          1306  1307  1308
pclass       3     3     3
survived     D     D     D
gender    male  male  male
age       26.5    27    29
sibsp        0     0     0

[5 rows x 1307 columns]